<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css">
		
		
		<script type="text/javascript" src="js/jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
		
		<script type="text/javascript" src="js/vue/vue-selectpicker.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
		
		<!-- textarea selection -->
		<script type="text/javascript" src="js/jquery/jquery.selection.js"></script>
		
		<!-- export word -->
		<script type="text/javascript" src="js/docxtemplater/docxtemplater-latest.js"></script>
		<script type="text/javascript" src="js/docxtemplater/jszip.min.js"></script>
		<script type="text/javascript" src="js/docxtemplater/vendor/file-saver.min.js"></script>
		<!--[if IE]><script type="text/javascript"  src="js/docxtemplater/vendor/jszip-utils-ie.js"></script><![endif]-->
		<!--[if !IE]>-->
		<script type="text/javascript" src="js/docxtemplater/vendor/jszip-utils.js"></script>
		
		
		<title>讀經小幫手</title>
		<style type="text/css">
			@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
			* {
				font-family: 'Noto Sans TC';
			}
		</style>
	<head>
	
</head>
	</head>
	<body>
		<div id="app">
			<div class="text-center">
				<h2>讀經小幫手</h2><br/>
			</div>
			<div class="col-lg-9">
			
				<div class="form-group row">
					<label class="col-lg-1 text-right">目錄</label>
					<div class="col-lg-2">
						<v-select v-model="selectedCategory" :options="categoryData" livesearch="true" data-width="150px"></v-select>
					</div>
					<label class="col-lg-1 text-right">章節</label>
					<div class="col-lg-2">
						<v-select v-model="selectedChapter" :options="chapters" livesearch="true" data-width="100px"></v-select>
					</div>
					<label class="col-lg-1 text-right">字體大小</label>
					<div class="col-lg-1">
						<select v-model="fontSize" class="form-control" v-on:change="changeFont">
							<option value="12">12</option>
							<option value="14">14</option>
							<option value="16">16</option>
							<option value="18">18</option>
						</select>
					</div>
					
					<label class="col-lg-1 text-right">字體</label>
					<div class="col-lg-1">
						<v-select v-model="selectedExport" :options="exports" livesearch="true" data-width="100px"></v-select>
					</div>
				</div>
				
				<div class="form-group row">
					<label class="col-lg-1 text-right">關鍵字查詢</label>
					<div class="col-lg-2">
						<input class="form-control" v-model="searchWord">
					</div>
					
					<label class="col-lg-1 text-right">章節起訖</label>
					<div class="col-lg-4">
						<v-select v-model="startCategory" :options="categoryData" livesearch="true" data-width="150px"></v-select>
						~
						<v-select v-model="endCategory" :options="categoryData" livesearch="true" data-width="150px"></v-select>
					</div>
					<button type="button" class="btn btn-warning" v-on:click="exportFile">匯出檔案</button>
					<button type="button" class="btn btn-info" v-on:click="queryBible">查詢</button>
				</div>
			</div>
			<div class="col-lg-3 alert alert-danger">
				1.匯出檔案功能，可產出<a href="https://goo.gl/RMTupU" target="_blank">歐陽詢字體</a> / <a href="https://goo.gl/aEnyZi" target="_blank">隸書</a> / <a href="https://goo.gl/8xxkHW" target="_blank">行書</a>檔案，供練字使用。<br/>
				2.若有拖選內容，會根據拖選範圍匯出，否則匯出整章經文。<br/>
				3.聖經採用<a href="https://goo.gl/rZ9PmG" target="_blank"> 合和本</a>，有經過加工處理。
			</div>
				
			<div class="form-group row">
				<div class="col-lg-1" id="verse" style="height:600px;overflow-y:scroll;">
					
				</div>
				<div class="col-lg-11" id="content" style="height:600px;overflow-y:scroll;">
					
				</div>
			</div>
		</div>
	</body>
</html>

<script type="text/javascript">

var vm =
	new Vue({
		el: '#app',
		data: {
			bibleData: {},
			categoryData: {},
			selectedCategory: {},
			chapterData: {},
			chapters: [],
			selectedChapter: {},
			fontSize: {},
			exports: [],
			selectedExport: "clerical-template.docx",
			// 查詢用
			searchWord: "",
			startCategory: "",
			endCategory: ""
		},
        methods: {
			ddlDescription(jsonArray, compareKey) {
				var result = jsonArray.filter(function (entry) {
								return entry["Code"] === compareKey;
							}).map(function (entry) {
								return entry["Description"];
							});
				return result.toString();
			},
			changeFont() {
				$("#verse").css("font-size", this.fontSize + "px");
				$("#content").css("font-size", this.fontSize + "px");
			},
			getDdlIndex(jsonArray, compareKey) {
				return jsonArray.map(function(entry, i){
					if(Object.keys(entry) == compareKey) return i;
				}).filter(function(entry){ return entry!=undefined; });
				
			},
			
			// 匯出功能
			/// <summary>
            /// loadFile for export word.
            /// </summary>
            /// <param name="url">The url path.</param>
            /// <param name="callback">The callback.</param>
			loadFile(url, callback) {
				JSZipUtils.getBinaryContent(url, function(err, data) {
					callback(null, data);
				});
			},
			cleanScreen() {
				$("#verse").empty();
				$("#content").empty();
			},
			queryBible() {
				
				this.cleanScreen();
				
				var tempStartCategory = !this.startCategory ? this.categoryData[0].Code : this.startCategory;
				var tempEndCategory = !this.endCategory ? this.categoryData[this.categoryData.length - 1].Code : this.endCategory;
				
				var startBibleIndex = Number(this.getDdlIndex(this.bibleData, tempStartCategory + 1));
				var endChapter = this.ddlDescription(this.chapterData, tempEndCategory);
				var endBibleIndex = Number(this.getDdlIndex(this.bibleData, tempEndCategory + endChapter));
				
				//alert(startBibleIndex);
				//alert(endBibleIndex);
				
				
				var tempVerse = [];
				for (var i = startBibleIndex; i < endBibleIndex; i++) {
					
					tempVerse = this.bibleData[i]
					var verse = Object.keys(tempVerse);
					
					for (var j = 0; j < tempVerse[verse].length; j++) {
						if (tempVerse[verse][j].indexOf(this.searchWord) >= 0) {
							$("#verse").append(verse + ":" + (j+1) + "<br/>");
							$("#content").append(tempVerse[verse][j].replace(this.searchWord, ("<span style='color: red;'>" + this.searchWord + "</span>")) + "<br/>");
							
						}
					}
				}
				
			},
			exportFile() {
				vm.loadFile("template/" + vm.selectedExport, function(err, content) {
					var selectedText = !!$.selection() ? $.selection() : $('#content').text();
					//alert(selectedText);
					let objData = {
						"content": selectedText.replace(/\r\n|\n/g,"") // replace space and new line
					};
					let zip = new JSZip(content);
					let doc = new Docxtemplater().loadZip(zip)
					doc.setData(objData) //set the templateVariables
					doc.render() //apply them (replace all occurences of {title} by Hipp, ...)
					let out = doc.getZip().generate({
							type: "blob"
						}) //Output the document using Data-URI
					saveAs(out, new Date().addHours(8).toISOString().slice(0,10) + ".docx")
				});
			}
		},
		watch: {
			selectedCategory: function() {
				var currentChapters = Number(this.ddlDescription(this.chapterData, this.selectedCategory));
				
				this.chapters = [];
				
				for (var i = 1; i <= currentChapters; i++) {
					var chapter = {"Code": i , "Description":i };
					
					this.chapters.push(chapter);
				}
				
				this.selectedChapter = "";
			},
			selectedChapter: function() {
				this.cleanScreen();
				
				
				//alert(JSON.stringify(this.bibleData));
				//alert(this.selectedCategory + this.selectedChapter);
				var verse = this.selectedCategory + this.selectedChapter;
				
				var result = "";
				for (var i = 0; i < this.bibleData.length; i++) {
					result = this.bibleData[i][verse];
					if(!!result) {
						//this.content = result;
						for (var j = 0; j < result.length; j++) {
							$("#verse").append(verse + ":" + (j+1) + "<br/>");
							$("#content").append(result[j] + "<br/>");
						}
						
						break;
					}
				}
				
			}
		},
        created() {
			this.fontSize = 16;
			this.changeFont();
		},
		mounted() {
			$('#verse').scroll(function () {
				$('#content').scrollTop($('#verse').scrollTop());
			});
			
			$('#content').scroll(function () {
				$('#verse').scrollTop($('#content').scrollTop());
			});
			
			axios.get('data/bible.json', {
					responseType: 'json'
				})
				.then(response => {
					//alert(JSON.stringify(response.data));
					this.bibleData = (response.data);
				});
			
			axios.get('data/category.json', {
					responseType: 'json'
				})
				.then(response => {
					this.categoryData = response.data;
				});
			
			axios.get('data/chapter.json', {
					responseType: 'json'
				})
				.then(response => {
					this.chapterData = response.data;
				});
				
				
			axios.get('data/export.json', {
					responseType: 'json'
				})
				.then(response => {
					//alert(JSON.stringify(response.data));
					this.exports = (response.data);
				});
		}
	});
	
	// 時區調整 + 8
	Date.prototype.addHours= function(h){
		this.setHours(this.getHours()+h);
		return this;
	}
	
</script>
