<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css">
		
		
		<script type="text/javascript" src="js/jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
		
		<script type="text/javascript" src="js/vue/vue-selectpicker.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
		
		<!-- textarea selection -->
		<script type="text/javascript" src="js/jquery/jquery.selection.js"></script>
		
		<!-- export word -->
		<script type="text/javascript" src="js/docxtemplater/docxtemplater-latest.js"></script>
		<script type="text/javascript" src="js/docxtemplater/jszip.min.js"></script>
		<script type="text/javascript" src="js/docxtemplater/vendor/file-saver.min.js"></script>
		<!--[if IE]><script type="text/javascript"  src="js/docxtemplater/vendor/jszip-utils-ie.js"></script><![endif]-->
		<!--[if !IE]>-->
		<script type="text/javascript" src="js/docxtemplater/vendor/jszip-utils.js"></script>
		
		
		<title>聖經閱讀小程式</title>
		<style type="text/css">
			@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
			* {
				font-family: 'Noto Sans TC';
			}
		</style>
	<head>
	
</head>
	</head>
	<body>
		<div id="app">
			<div class="text-center">
				<h2>聖經閱讀小程式</h2><br/>
			</div>
			<div class="col-lg-9">
			
				<div class="col-lg-5">
					<label class="text-right">目錄</label>
					<v-select v-model="selectedCategory" :options="categories" livesearch="true" data-width="180px"></v-select>
					<label class="text-right">章節</label>
					<v-select v-model="selectedChapter" :options="chapters" livesearch="true" data-width="100px"></v-select>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 text-right">字體大小</label>
					<div class="col-lg-1">
						<select v-model="fontSize" class="form-control" v-on:change="changeFont">
							<option value="12">12</option>
							<option value="14">14</option>
							<option value="16">16</option>
							<option value="18">18</option>
						</select>
					</div>
					<button type="button" class="btn btn-warning" id="export">匯出word檔</button>
				</div>
				
			</div>
			<div class="col-lg-3 alert alert-danger">
				1.匯出word檔功能，會產出歐陽詢字體檔案，供練字使用。<br/>
				2.若有拖選內容，會根據拖選範圍匯出，否則匯出整章經文。
			</div>
				
			<div class="form-group row">
				<div class="col-lg-1">
					<textarea cols="10" rows="30" id="verse" class="form-control" style="overflow:scroll"></textarea>
				</div>
				<div class="col-lg-11">
					<textarea cols="150" rows="30" id="content" class="form-control" style="overflow:scroll"></textarea>
				</div>
			</div>
		</div>
	</body>
</html>

<script type="text/javascript">

	
	new Vue({
		el: '#app',
		data: {
			bible: {},
			categories: {},
			selectedCategory: {},
			chapterSetting: {},
			chapters: [],
			selectedChapter: {},
			fontSize: {}
		},
        methods: {
			ddlDescription(jsonArray, compareKey) {
				var result = jsonArray.filter(function (entry) {
								return entry["Code"] === compareKey;
							}).map(function (entry) {
								return entry["Description"];
							});
				return result.toString();
			},
			changeFont() {
				$("textarea").css("font-size", this.fontSize + "px");
			}
		},
		watch: {
			selectedCategory: function() {
				var currentChapters = Number(this.ddlDescription(this.chapterSetting, this.selectedCategory));
				
				for (var i = 1; i <= currentChapters; i++) {
					var chapter = {"Code": i , "Description":i };
					
					this.chapters.push(chapter);
				}
				
				this.selectedChapter = "";
			},
			selectedChapter: function() {
				$("textarea").empty();
				
				
				//alert(JSON.stringify(this.bible));
				//alert(this.selectedCategory + this.selectedChapter);
				var varse = this.selectedCategory + this.selectedChapter;
				
				var result = "";
				for (var i = 0; i < this.bible.length; i++) {
					result = this.bible[i][varse];
					if(!!result) {
						//this.content = result;
						for (var j = 0; j < result.length; j++) {
							$("#verse").append(varse + ":" + (j+1));
							$("#content").append(result[j]);
							$('textarea').append((j+1) == result.length ? "" :"\n");
						}
						
						break;
					}
				}
				
			}
		},
        created() {
			this.fontSize = 16;
			this.changeFont();
			/*
			$.googleSheetToJSON('158ynOk96sB_7TlNJNJQmY79b3bfZPc32rI67nVWXLAY')
				.done(function(rows){
					// each row is a row of data from the spreadsheet
					//alert(JSON.stringify(rows));
					//alert(rows[0]["date"]);
					
					for (var i = 0; i < rows.length; i++) {
						// alert(row[i]["date"]);
						//alert(new moment(rows[i]["date"], 'YYYY/MM/DD').toDate() == new Date().setHours(0,0,0,0));
						alert(new moment().format("YYYY/MM/DD") == rows[i]["date"]);
					}
				})
				.fail(function(err){
					console.log('error!', err);
				});
				*/
		},
		mounted() {
			$('#verse').scroll(function () {
				$('#content').scrollTop($('#verse').scrollTop());
			});
			
			$('#content').scroll(function () {
				$('#verse').scrollTop($('#content').scrollTop());
			});
			
			axios.get('data/bible.json')
				.then(response => {
					//alert(JSON.stringify(response.data));
					this.bible = (response.data);
				});
			
			axios.get('data/category.json')
				.then(response => {
					this.categories = response.data;
				});
			
			axios.get('data/chapter.json')
				.then(response => {
					this.chapterSetting = response.data;
				});
				
				
			
			// 匯出功能
			let loadFile = function(url, callback) {
            /// <summary>
            /// loadFile for export word.
            /// </summary>
            /// <param name="url">The url path.</param>
            /// <param name="callback">The callback.</param>
				JSZipUtils.getBinaryContent(url, function(err, data) {
					callback(null, data);
				});
			};
			$("#export").click(function() {
				loadFile("template.docx", function(err, content) {
					var selectedText = !!$('#content').selection() ? $('#content').selection() : $('#content').text();
					//alert(selectedText);
					let objData = {
						"content": selectedText
					};
					let zip = new JSZip(content);
					let doc = new Docxtemplater().loadZip(zip)
					doc.setData(objData) //set the templateVariables
					doc.render() //apply them (replace all occurences of {title} by Hipp, ...)
					let out = doc.getZip().generate({
							type: "blob"
						}) //Output the document using Data-URI
					saveAs(out, "output.docx")
				});
			});
		}
	});
	
</script>
