<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">

	<title>讀經小幫手</title>
	<style type="text/css">
		/*@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/
		/*@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);*/
		/*@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);*/
		@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

		* {
			/*font-family: 'cwTeXFangSong', sans-serif;*/
			/*font-family: 'cwTeXMing', sans-serif;*/
			/*font-family: 'cwTeXYen', sans-serif;*/
			font-family: 'Noto Sans TC', sans-serif;
		}
	</style>
</head>

<body>
	<div id="app">
		<div class="text-center">
			<!--<h2>讀經小幫手</h2><br />-->
		</div>
		<div class="col-lg-9">

			<div class="form-group row">
				<label class="col-1 text-right">目錄</label>
				<div class="col-2">
					<v-select v-model="selectedCategory" :options="categories" :reduce="category => category.abbr"
						label="name" @input="changeCategory"></v-select>
				</div>
				<label class="col-1 text-right">章節</label>
				<div class="col-2">
					<v-select v-model="selectedChapter" :options="relatedChapters" @input="changeChapter"> </v-select>
				</div>

				<label class="col-1 text-right">字體大小</label>
				<div class="col">
					<v-select v-model="selectedFontSize" :options="fontSizes" @input="changeFont"></v-select>
				</div>

				<label class="col-1 text-right">匯出字體</label>
				<div class="col">
					<v-select v-model="selectedExportOption" :options="exportOptions"
						:reduce="exportOption => exportOption.font" label="name"></v-select>
				</div>
			</div>
			<!--
			<div class="form-group row">
				<label class="col-lg-1 text-right">關鍵字查詢</label>
				<div class="col-lg-2">
					<input class="form-control" v-model="searchWord">
				</div>

				<label class="col-lg-1 text-right">章節起訖</label>
				<div class="col-lg-4">
					<v-select v-model="startCategory" :options="categoryData" livesearch="true" data-width="150px">
					</v-select>
					~
					<v-select v-model="endCategory" :options="categoryData" livesearch="true" data-width="150px">
					</v-select>
				</div>
				<button type="button" class="btn btn-warning" v-on:click="exportFile">匯出檔案</button>
				<button type="button" class="btn btn-info" v-on:click="queryBible">查詢</button>
			</div>
			-->
		</div>
		<!--
		<div class="col-lg-3 alert alert-danger">
			1.匯出檔案功能，可產出<a href="https://goo.gl/RMTupU" target="_blank">歐陽詢字體</a> / <a href="https://goo.gl/aEnyZi"
				target="_blank">隸書</a> / <a href="https://goo.gl/8xxkHW" target="_blank">行書</a> / <a
				href="https://goo.gl/BCKQa4" target="_blank">篆體</a>檔案，供練字使用。<br />
			2.若有拖選內容，會根據拖選範圍匯出，否則匯出整章經文。<br />
			3.聖經採用<a href="https://goo.gl/rZ9PmG" target="_blank"> 合和本</a>，有經過加工處理。
		</div>
		-->
		<div class="form-group row">
			<div class="col-lg-1" id="verse" style="height:600px;overflow-y:scroll;">

			</div>
			<div class="col-11" style="height:600px;overflow-y:scroll;" v-html="contents"> </div>
		</div>
	</div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://unpkg.com/vue-select@3.0.0/dist/vue-select.js"></script>

<!-- export word -->
<script type="text/javascript" src="js/docxtemplater/docxtemplater-latest.js"></script>
<script type="text/javascript" src="js/docxtemplater/jszip.min.js"></script>
<script type="text/javascript" src="js/docxtemplater/vendor/file-saver.min.js"></script>
<!--[if IE]><script type="text/javascript"  src="js/docxtemplater/vendor/jszip-utils-ie.js"></script><![endif]-->
<!--[if !IE]>-->
<script type="text/javascript" src="js/docxtemplater/vendor/jszip-utils.js"></script>

<script type="text/javascript">
	Vue.component('v-select', VueSelect.VueSelect);
	var vm =
		new Vue({
			el: '#app',
			data: {
				bibleData: {},
				categories: [],
				selectedCategory: {},
				chapters: [],
				relatedChapters: [],
				selectedChapter: {},
				selectedFontSize: {},
				fontSizes: [12, 14, 16, 18],
				exportOptions: [],
				selectedExportOption: {},
				contents: {},
				// 查詢用
				searchWord: "",
				startCategory: "",
				endCategory: ""
			},
			methods: {
				loadJSON(url, success) {
					var xobj = new XMLHttpRequest();
					xobj.overrideMimeType("application/json");
					xobj.open('GET', url, true);
					xobj.onreadystatechange = function () {
						if (xobj.readyState == 4 && xobj.status == "200") {
							try {
								success(JSON.parse(xobj.responseText));
							} catch (e) {
								status = "Invalid JSON string[" + e + "]";
							}
						}
					};
					xobj.send(null);
				},
				changeCategory() {
					console.log(this.selectedCategory);
					let chapter = this.chapters.filter(chapter => { return chapter.abbr == this.selectedCategory })[0];
					//console.log(chapter.verse);

					let verse = 1;
					this.relatedChapters = Array(chapter.verse)
						.fill()
						.map(() => verse++);
					//console.log(JSON.stringify(this.relatedChapters));
				},
				changeChapter() {
					//console.log(this.selectedCategory + this.selectedChapter);

					this.loadJSON('./data/' + this.selectedCategory + '.json', json => {
						//console.log(json);
						let verse = json.filter(data => Object.keys(data) == this.selectedCategory + this.selectedChapter)[0];
						console.log(Object.values(verse).join("</p><p>"));
						this.contents = Object.values(verse).join("\r\n") ;

					});
				},
				changeFont() {

				},
				// 匯出功能
				/// <summary>
				/// loadFile for export word.
				/// </summary>
				/// <param name="url">The url path.</param>
				/// <param name="callback">The callback.</param>
				loadFile(url, callback) {
					JSZipUtils.getBinaryContent(url, function (err, data) {
						callback(null, data);
					});
				},
				exportFile() {
					vm.loadFile("template/" + vm.selectedExport, function (err, content) {
						var selectedText = !!$.selection() ? $.selection() : $('#content').text();
						//alert(selectedText);
						let objData = {
							"content": selectedText.replace(/\r\n|\n/g, "") // replace space and new line
						};
						let zip = new JSZip(content);
						let doc = new Docxtemplater().loadZip(zip)
						doc.setData(objData) //set the templateVariables
						doc.render() //apply them (replace all occurences of {title} by Hipp, ...)
						let out = doc.getZip().generate({
							type: "blob"
						}) //Output the document using Data-URI
						saveAs(out, new Date().addHours(8).toISOString().slice(0, 10) + ".docx")
					});
				}
			},
			computed: {
			},
			created() {
				//this.fontSize = 16;
				//this.changeFont();
			},
			mounted() {
				this.loadJSON('./data/bible.json', json => {
					this.bibleData = json;
				});

				this.loadJSON('./data/category.json', json => {
					this.categories = json;
				});

				this.loadJSON('./data/chapter.json', json => {
					this.chapters = json;
				});

				this.loadJSON('./data/exportOption.json', json => {
					this.exportOptions = json;
				});
			}
		});

	// 時區調整 + 8
	Date.prototype.addHours = function (h) {
		this.setHours(this.getHours() + h);
		return this;
	}

</script>